@media(max-width:500px) {

    input[type="number"], input[type="password"], ::placeholder{
    font-size: 0.8rem;
    }



  .inner-circle{
    max-width: 250px;
  
    }

    label{
    font-size: 1rem;
    }

    .form-heading h3{
        font-size:1rem;
    }


}