@media(max-width:500px) {

    input[type="text"], input[type="password"], ::placeholder{
    font-size: 0.8rem;
    }



  .inner-circle{
    max-width: 250px;
  
    }

    label{
    font-size: 1rem;
    }

/* label{
    display: none;
} */

}